name: dask_image_doc_env

channels:
  - conda-forge

dependencies:
  - python=3.9.*
  - pip==22.3
  - wheel==0.37.1
  - jinja2<3.1
  - dask==2023.2.0
  - numpy==1.23.4
  - scipy==1.9.2
  - scikit-image==0.19.3
  - pims==0.6.1
  - slicerator==1.1.0
  - pandas==2.0.0
  - pip:
    - sphinx>=4.0.0
    - dask-sphinx-theme>=3.0.0
    # FIXME: This workaround is required until we have sphinx>=5, as enabled by
    #        dask-sphinx-theme no longer pinning sphinx-book-theme==0.2.0. This is
    #        tracked in https://github.com/dask/dask-sphinx-theme/issues/68.
    #        Once sphinx>=5 is available, we can remove this workaround.
    - sphinxcontrib-applehelp>=1.0.0,<1.0.7
    - sphinxcontrib-devhelp>=1.0.0,<1.0.6
    - sphinxcontrib-htmlhelp>=2.0.0,<2.0.5
    - sphinxcontrib-serializinghtml>=1.1.0,<1.1.10
    - sphinxcontrib-qthelp>=1.0.0,<1.0.7