name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os: ["windows-latest", "ubuntu-latest", "macos-latest"]
        python-version: ["3.6", "3.7", "3.8"]

    steps:
      - name: Checkout source
        uses: actions/checkout@v2

      - name: Setup Conda Environment
        uses: conda-incubator/setup-miniconda@v2
        with:
          miniconda-version: "latest"
          python-version: ${{ matrix.python-version }}
          environment-file: continuous_integration/environment-${{ matrix.python-version }}.yml
          activate-environment: dask-image-testenv
          auto-activate-base: false

      - name: Install dask-image
        shell: bash -l {0}
        run: python -m pip install -e .

      - name: Lint with flake8
        run: flake8

      - name: Run tests
        shell: bash -l {0}
        run: pytest

      - name: Coverage
        shell: bash -l {0}
        if: ${{ matrix.os == 'ubuntu-latest' &&  matrix.python-version == '3.8' }}
        run: |
          coverage report --show-missing
          python -m pip install coveralls
          coveralls
